:root {
    --bg-color: #2e2a4f;
    --nav-text-color: rgba(255, 255, 255, 0.5);
    --nav-text-color-active: gold;
    --base-theme-color: #2e2a4f;
    --base-theme-color-active: gold;
    --contact-button-color: rgba(255, 255, 255, 0.5);
    --contact-button-color-hover: gold;
}