body {
    font-size: 16px;
    line-height: 1.56;
    font-family: "Roboto", sans-serif;
    color: #000;
    background: #fff;
    overflow-x: hidden;
    margin: 0;
    margin-top: 85px;
}

.opacity-box {
    opacity: 0.8;
}

.title {
    margin-right: 10px;
    font-size: 18px;
    line-height: 1.55;
    font-weight: 700;
    font-family: "Lato", sans-serif;
}

.role {
    letter-spacing: 2px;
    margin: 0px;
    padding: 2px 0;
    opacity: 0.8;
    font-size: 16px;
    line-height: 1.56;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.year {
    margin: 0px;
    opacity: 0.8;
}

.meta {
    margin-top: 10px;
}

.info {
    font-size: 14px;
    line-height: 1.4;
    padding: 0;
    margin: 0;
}

.info .title {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    line-height: 1.66;
    float: left;
    display: block;
    width: 100px;
    text-align: right;
}

#showcase>.uk-divider-icon {
    display: none;
}